body{
    background-color: rgb(136, 130, 130);
}

h1{
 padding-left: 50px;
}

form{
    margin-left: 80px;
    border: solid rgb(94, 93, 93) 3px;
    margin: 50px 100px auto 50px;
    padding: 51px;
}

input{
    padding: 5px;
    margin:5px;
    border-radius: 5px;
}

input:hover{
    transform: scale(1.1);
    border: solid rgb(103, 101, 101) 3px;
}

button{
    height: 35px;
    width: 125px;
    margin-left:125px;
    border-radius: 10px;
    
}

button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-color: rgb(250, 248, 248);
}

#results{
    color: red;
    margin: 10px;
}