*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff
    ;
    
}

.container{
    background-color: #212121;
    height: 70vh;
    margin: 30px auto ;
    width: 60vh;
}

h1{
    text-align: center;
}

input{
    margin: 50px 50px;
    height: 30px;
    color: black;
}

#addBtn{
    width: 10vh;
    height: 30px;
    color: black;
    border-radius: 10px;
}

li{
    color: rgb(255, 255, 255);
    list-style: none;
    margin-left: 50px;
    line-height: 30px;
}

li button{
    color: #212121;
}